body {
    /* font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #CAE2D6;
    overflow-x: scroll; */
    /* background-image: url('green.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; */
    background: url(green.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;/*for safari*/
    -moz-background-size: cover;/*for mozilla*/
    -o-background-size: cover;/*for opera*/
    background-size: cover;/*for chrome */ 
  }
  


  
  
  
  #github-form {
    /* display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px; */
    /* #github-form { */
      width: 300px;
      margin: 0 auto;
    /* } */
    
  }
 
  
    
  #github-form label {
    font-size: 1.2rem;
    font-weight: bold;
    margin-right: 10px;
    /* font-size: 20px; */
    color: #333;
    /* font-weight: bold; */
    margin-bottom: 5px;
    display: block;
    text-align: center; /* align the label in center */
    font-family: 'Montserrat', sans-serif;  /* change font */
    /* font-style: italic; change font-style */
  }
  
  
  #github-form input[type="text"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    text-align: center; /* align the text in center */
    font-family: 'Open Sans', sans-serif; /* change font */
  }
  
  
  
  #github-form button[type="submit"] {
    width: 100%;
    background-color: #59636c;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-weight: bold;
  }
  
  #github-form button[type="submit"]:hover {
    background-color: #94a2ad;
    box-shadow: 0px 0px 10px #d3e4ef;
  }
   
  
  #repo-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
  }

  /* repoList div {
    transition: all 0.5s ease;
  }
   */
  #repo-list div {
    margin-bottom: 20px;
    width: 80%;
    padding: 20px;
    background-color:#DFF0D8;
    border-radius: 5px;
    
  }
  
  #repo-list h3 {
    margin: 0;
  }
  
  #repo-list a {
    color: rgb(191,34,86);
  }
  
  #pagination {
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }
  
  #pagination button {
    padding: 10px 20px;
    background-color: #3C6851;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 20px;
  }
  /* #pagination nextButton{
    padding: 10px 20px;
    background-color: #da4242;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 20px;
  } */
  #next {
    background-color: rgb(4, 33, 9)!important;
 }
 
  #pagination button.active {
    background-color: #592941;
  }
  
  #loader {
    display: none;
    margin-top: 40px;
  }


  @media only screen and (max-width: 480px) {
    /* styles for phone screen */
    body {
      font-size: 16px;
    }
    #github-form label {
      font-size: 16px;
    }
    #github-form input[type="text"] {
      font-size: 14px;
    }
    #github-form button[type="submit"] {
      font-size: 14px;
    }
  }
  @media (max-width: 767px) {
    #pagination button {
      padding: 8px 16px;
      font-size: 14px;
      margin-right: 10px;
    }
    background: url(green.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;/*for safari*/
    -moz-background-size: cover;/*for mozilla*/
    -o-background-size: cover;/*for opera*/
    background-size: cover;/*for chrome */ 
  }  
  /* style loader */
  #loader {
    display: none; /* hide the loader by default */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    border: 5px solid #f3f3f3;
    border-top: 5px solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  /* animation */
  /* user name */
  #userNameDisplay {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 32px;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
#userNameDisplay img {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  /* margin-left: 190px; */
  margin-right: 20px;
}

#userNameDisplay h2 {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  margin: 10px 0;
  color: #1B3731;
  font-family: 'Libre Baskerville', serif;
  /* font-style: bold; */
  /* justify-content: center; */
}

  