body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #CAE2D6;
  
  }
  
  #github-form {
    /* display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px; */
    /* #github-form { */
      width: 300px;
      margin: 0 auto;
    /* } */
    
  }
 
  
    
  #github-form label {
    font-size: 20px;
    color: #333;
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
    text-align: center; /* align the label in center */
    font-family: 'Montserrat', sans-serif;  /* change font */
    /* font-style: italic; change font-style */
  }
  
  
  #github-form input[type="text"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    text-align: center; /* align the text in center */
    font-family: 'Open Sans', sans-serif; /* change font */
  }
  
  
  
  #github-form button[type="submit"] {
    width: 100%;
    background-color: #59636c;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-weight: bold;
  }
  
  #github-form button[type="submit"]:hover {
    background-color: #94a2ad;
    box-shadow: 0px 0px 10px #d3e4ef;
  }
   
  
  #repo-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
  }
  
  #repo-list div {
    margin-bottom: 20px;
    width: 80%;
    padding: 20px;
    background-color:#DFF0D8;
    border-radius: 5px;
  }
  
  #repo-list h3 {
    margin: 0;
  }
  
  #repo-list a {
    color: rgb(191,34,86);
  }
  
  #pagination {
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }
  
  #pagination button {
    padding: 10px 20px;
    background-color: #3C6851;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 20px;
  }
  
  #pagination button.active {
    background-color: #592941;
  }
  
  #loader {
    display: none;
    margin-top: 40px;
  }